<!--Store this code in 'index.html' file inside the 'templates' folder-->
<html lang="en">
	<head>
		<title>Upload</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>

	<body>
			<div class="content" align="center">
				<div class="topbar">
					<h2>Welcome!! You are in Upload Page!! </h2>					
				</div></br></br>
				<div class="contentbar">
					<div class="msg">{{ msg }}</div>
                    <form method=post enctype=multipart/form-data>
                        <input type=file name=file>
                        <input type=submit value=Upload>
                    </form>
				</div>
				
			</div>
		</div>
	</body>
</html>
